* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.home {
    background: #171718;
    height: 100vh;
}

.miku {
    color: #5C62EC;
}

.btn {
    padding: 12px 28px;
    background: #5C62EC;
}
.project__title {
    font-family: 'DM Sans';
    color: #5C62EC;
    letter-spacing: -0.5px;
}

h1 {
    font-family: 'DM Sans';
    line-height: 140%;
    letter-spacing: -0.5px;
}
h2 {
    line-height: 140%;
    letter-spacing: -0.5px;
}

img {
    width: 100%;
    object-fit: cover;
}

footer {
    background: #171718;
}